<div class="p-4 border rounded shadow flex justify-between items-center">
    <div class="flex-1 ml-2 my-4">
        <%= link_to list.name, list_path(list), class: "font-bold text-gray-700" %>
        <%= render 'lists/museum_counts', list: list %>
    </div>

    <% if @museum.present? %>
        <%= render 'lists/museum_button', list: list %>
    <% end %>
</div>
