<div class="container mx-auto mt-8">
  <h1 class="text-2xl font-bold mb-4"><%= @notice.title %></h1>
  <p class="text-gray-700"><%= @notice.content %></p>

  <%= link_to "戻る", notices_path, class: "text-blue-500 hover:underline mt-4 block" %>
</div>
