<div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md space-y-6">
<h2 class="text-2xl font-semibold text-center mb-4 border-b-2">マイページ</h2>
  <div class="text-center">
    <div class="avatar">
      <% if current_user.image&.attached? %>
        <div class="w-24 rounded-full">
          <%= image_tag current_user.image, class: "rounded-full" %>
        </div>
    <% else %>
      <div class="w-32 h-32 rounded-full bg-gray-300 flex items-center justify-center">
        <span class="text-center font-bold">No Image</span>
      </div>
    <% end %>
  </div>

  <h2 class="text-center text-xl font-semibold mt-6"><%= current_user.name %></h2>
  <p class="text-center text-gray-600 mt-4"><%= current_user.email %></p>

  <div class="text-center mt-6">
    <%= link_to '編集', edit_user_registration_path, class: "btn btn-primary w-full" %>
  </div>
</div>
