<div class="p-6 max-w-lg mx-auto bg-white rounded-xl shadow-md space-y-4">
    <h1 class="text-2xl font-semibold text-center mb-4 border-b-2"><%= current_user.name %>のメモ一覧</h1>

    <div id="note_list">
        <%= render partial: 'note_list' %>
    </div>

    <div class="pagination">
        <%= paginate @notes, params: { user_id: @user.id }, remote: true, data: { turbolinks: false } %>
    </div>
</div>
