<% if object.errors.any? %>
    <div class="alert alert-error mb-4" role="alert" style="background-color: rgba(248, 84, 76, 0.4);">
        <ul>
        <% object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
<% end %>
