<footer class="footer footer-center bg-base-300 text-base-content rounded p-5">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to "お問い合わせ", contact_path, class: "btn btn-ghost btn-sm font-bold" %>
    <%= link_to "お知らせ", notices_path, class: "btn btn-ghost btn-sm font-bold" %>
    <%= link_to "利用規約", terms_path, class: "btn btn-ghost btn-sm font-bold" %>
    <%= link_to "プライバシー ポリシー", privacy_path, class: "btn btn-ghost btn-sm font-bold" %>
  </nav>
  <aside>
    <p class="font-bold">© 2024 Tohoho - All right reserved</p>
  </aside>
</footer>