<span class="prev">
    <% if controller_name == 'museums' && action_name == 'show' %>
        <% if params[:reviews_page].present? %>
            <% prev_page = params[:reviews_page].to_i - 1 %>
            <%= link_to_unless current_page.first?, t('views.pagination.previous').html_safe,
                url_for(request.query_parameters.merge(reviews_page: prev_page)),
                class: "join-item btn", rel: 'prev', remote: true %>
        <% elsif params[:lists_page].present? || params[:tab] == '3' %>
            <% prev_page = params[:lists_page].to_i - 1 %>
            <%= link_to_unless current_page.first?, t('views.pagination.previous').html_safe,
                url_for(request.query_parameters.merge(lists_page: prev_page)),
                class: "join-item btn", rel: 'prev', remote: true %>
        <% else %>
            <%= link_to_unless current_page.first?, t('views.pagination.previous').html_safe, url,
                class: "join-item btn", rel: 'prev', remote: true %>
        <% end %>
    <% else %>
        <%= link_to_unless current_page.first?, t('views.pagination.previous').html_safe, url,
            class: "join-item btn", rel: 'prev', remote: true %>
    <% end %>
</span>
