<p>こんにちは、<%= @resource.name %>さん! MuseUP からのお知らせです。</p>

<p>パスワードを再設定するためには、以下のリンクからご変更ください。</p>

<p><%= link_to 'パスワードの再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>万一パスワード再設定のリクエストをしていない場合は、このメールは無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
