<footer class="footer footer-center bg-base-300 text-base-content rounded p-5">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to "お問い合わせ", "#", class: "link link-hover" %>
    <%= link_to "お知らせ", "#", class: "link link-hover" %>
    <%= link_to "利用規約", "#", class: "link link-hover" %>
    <%= link_to "プライバシー ポリシー", "#", class: "link link-hover" %>
  </nav>
  <aside>
    <p>Copyright © 2024 - All right reserved</p>
  </aside>
</footer>