<header class="bg-[#C3ACD0] p-4">
  <% if user_signed_in? %>
    <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
    </li>
  <% else %>
    <div class="container mx-auto flex justify-between items-center">
      <!-- 左側：ロゴやアプリ名 -->
      <div class="text-lg font-bold">
        <%= link_to "MuseUP", root_path, class: "text-black" %>
      </div>
      <!-- 右側：リンク「検索」と「ログイン」 -->
      <div class="flex space-x-4">
        <%= link_to "検索", "#", class: "text-black hover:underline" %>
        <%= link_to "ログイン", new_user_session_path, class: "text-black hover:underline" %>
      </div>
    </div>
  <% end %>
</header>
